body {
	/* background-image: url('../img/background.jpg'); */
	font-family: "Karla", sans-serif;
	background-color: #141f2a;
	min-height: 100vh;
}
#render-page {
	position: absolute;
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 5;
	padding-top: 10%;
	background-color: #141f2a;
	z-index: 999;
}
#none {
	position: absolute;
}
.bg-light-gray {
	background-color: #141f2a;
}
/* #login {
	position: absolute;
} */
.brand-wrapper {
	margin-bottom: 19px;
}
.brand-wrapper .logo {
	height: 37px;
}

.login-card {
	border: 0;
	border-radius: 20.5px;
	box-shadow: 0 10px 35px 0 rgba(0, 255, 76, 0.541);
	overflow: hidden;
	background-color: #141f2a;
}
.login-card-img {
	border-radius: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
.login-card .card-body {
	padding: 85px 60px 60px;
}
@media (max-width: 422px) {
	.login-card .card-body {
		padding: 35px 24px;
	}
}
.login-card-description {
	font-size: 30px;
	color: #1a91da;
	font-weight: normal;
	margin-bottom: 23px;
}
.login-card form {
	max-width: 326px;
}
.login-card .form-control {
	border: 1px solid#B6FBD3;
	padding: 15px 25px;
	margin-bottom: 20px;
	min-height: 45px;
	font-size: 13px;
	line-height: 15;
	font-weight: normal;
}
.login-card .form-control::-webkit-input-placeholder {
	color: #919aa3;
}
.login-card .form-control::-moz-placeholder {
	color: #919aa3;
}
.login-card .form-control:-ms-input-placeholder {
	color: #919aa3;
}
.login-card .form-control::-ms-input-placeholder {
	color: #919aa3;
}
.login-card .form-control::placeholder {
	color: #919aa3;
}
.login-card .login-btn {
	padding: 13px 20px 12px;
	background-color: #9c5d0b;
	box-shadow: 0 10px 35px 0 rgba(0, 255, 76, 0.541);
	border-radius: 4px;
	font-size: 17px;
	font-weight: bold;
	line-height: 20px;
	color: #fff;
	margin-bottom: 24px;
}
.login-card .login-btn:hover {
	border: 1px solid #000;
	box-shadow: 0 10px 35px 0 rgba(110, 23, 2, 0.541);
	background-color: rgba(0, 255, 76, 0.541);
	color: #000;
}
.login-card .forgot-password-link {
	font-size: 14px;
	color: #37fd9a;
	margin-bottom: 12px;
}
.login-card-footer-text {
	font-size: 16px;
	color: #0d2366;
	margin-bottom: 60px;
}
@media (max-width: 767px) {
	.login-card-footer-text {
		margin-bottom: 24px;
	}
}
.login-card-footer-nav a {
	font-size: 14px;
	color: #c46711;
}
